* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2937;
}

.container {
    animation: fadeIn 0.6s ease-in-out;
}

.formCard {
    width: 520px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 28px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #4338CA;
    margin-bottom: 1.5rem;
}

.detailRow {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px dashed #D1D5DB;
}

.detailRow:last-child {
    border-bottom: none;
}

.label {
    font-weight: 600;
    color: #374151;
    font-size: 1.5rem;
}

.value {
    color: #4B5563;
    font-size: 1.5rem;
    max-width: 60%;
    text-align: right;
    word-wrap: break-word;
}

.messageBox {
    background: #F3F4F6;
    padding: 14px;
    border-radius: 10px;
    margin-top: 1.5rem;
    font-size: 1.2;
    text-align: left;
}

.messageBox p {
    color: #4B5563;
    line-height: 2;
}

.backBtn {
    margin-top: 20px;
    background: #4F46E5;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    width: 60%;
    font-weight: 600;
}

.backBtn:hover {
    background: #4338CA;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}